html, body{
  background-color: #c2c2c2;
}
.main_banner{
  margin-bottom: 25px;
}
.cst_dropdown{
    width: 270px;
    top: 95%;
    border-radius: 0;
    border: 0;
}
.cst_drpbtn{
    background-color: #fff;
    margin-bottom: -10px;
    display: inline-block;
    margin-top: -5px;
}
.ncst_nav{
  background-color:#dfdfdf;
}
.cart-wrapper .card{
  height: 100%;
}
  .cst-btn-wrapper{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 1;
    flex-direction: row;
  }
