html, body{
  background-color: #c2c2c2;
}
.main_banner{
  margin-bottom: 25px;
  border: 0;
  img{
    border-radius: 0;
  }
}
.cst_dropdown{
    width: 370px;
    top: 95%;
    border-radius: 0;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.cst_drpbtn{
    background-color: #fff;
    margin-bottom: -10px;
    display: inline-block;
    margin: -17px 0 -13px 0;
    padding: 15px 5px 11px 11px;
    min-width: 57px;
    .dropdown-header{
      padding: 5px;
    }
    .dropdown-divider{
      margin:0;
    }
}
.ncst_nav{
  background: rgb(222,222,222);
  background: linear-gradient(0deg, rgba(222,222,222,1) 8%, rgba(238,238,238,1) 100%);
  box-shadow: 0px 0px 11px -1px;
}
.cart-wrapper .card{
  height: 100%;
  margin-bottom: 40px;
}
  .cst-btn-wrapper{
    display: flex;
    height: 100%;
    button{
        margin-top: auto;
        padding: 1px 15px;
        background-color: none;
        background-color: initial;
        color: #000;
        font-size: 12px;
        text-transform: uppercase;
    }
    button:first-child{
          // margin-top: auto;
          // margin-bottom: auto;
        margin-left: auto;

    }
    .cst-btn-sicount{
      background-color: #11845b;
      color: #fff;
    }
    .cst-btn-price{
      margin-left: 3px;
    }
  }
  .cst-cart{
    &::after{
      border:0;
    }
  }
  .cst-clear-cart{
    padding: 7px 30px;
    margin-left: 11px;
    text-transform: uppercase;
    font-size: 14px;
    background: rgb(127,61,210);
    background: linear-gradient(0deg, rgba(127,61,210,1) 8%, rgba(177,88,218,1) 100%);
  }
  .cart-header{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
  }
  .cart-product-item{
    padding-left: 5px;
    img{
      max-width: 100px;
    }
  }
  .cart-title-name{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    .remove-trigger{
      display: none;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .cart-title-items{
    display: flex;
    // align-items: center;
  }
  .cart-price-item{
    display: flex;
    align-items: center;
  }
  .cst-dropdown-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }
  .cart-product-item {
    display: flex;
    justify-content: space-between;
    max-height: 70px;
    &:hover .cart-title-name .remove-trigger{
      display: inline-block;
    }
  }
  .cart-title-item{
    text-transform: uppercase;
    margin-top: 10px;
  }
.cart-action{}
.cst-cart-body{
  padding: 5px;
}
.cst-cart-title{
  padding: 5px 5px 0 5px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
.cst-btn-price-disabled{
  background-color: initial !important;
  color: #000 !important;
  font-weight: 600;
}
.cst-cart-title-purchased{
  color: #8f8f8f;
  padding: 5px 5px 0 5px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
.cst-cart-product{
  background-color: #dedede;
}
.cst-text-col{
  padding-left: 0;
  .text-banner{
    text-transform: uppercase;
    margin: 20px 0px;
    font-weight: 600;
    font-size: 16px;
  }
}
